@page "/"

@using System.Security.Claims

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
    <Authorized>
        <h2>Witaj @context.User.FindFirst(ClaimTypes.GivenName)?.Value</h2>
    </Authorized>
    <NotAuthorized>
        <h2>Zaloguj się aby zobaczyć co cię czeka</h2>
    </NotAuthorized>
</AuthorizeView>

@code
{
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } // this is from CascadingAuthenticationState in App.razor
}